body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mario-chat {
    max-width: 600px;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
}

#chat-window {
    height: 400px;
    overflow-y: auto;
    background: #f4f4f4;
    padding: 20px;
}

#output p {
    padding: 10px;
    margin: 0 0 10px 0;
    background: #e9e9e9;
    color: #555;
    border-radius: 5px;
}

#output strong {
    color: #575ed8;
}

#feedback p {
    color: #aaa;
    font-style: italic;
    font-size: 0.9em;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: inherit;
    font-size: 16px;
}

button {
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #464baf;
}